body{
	margin: 0;
	font-family: 'Inconsolata', monospace;
	background: #fff;
	color: #000;
}
h2{
    padding: 15px;
}
table{
	margin: auto;
	border-collapse: collapse;
	border: 1px solid #000;
	background: #fff;
	color: #000;
}
thead{
	border: 1px solid #000;
	background: red;
}
td, th{
	padding: 5px 10px;
}
footer{
	position: fixed;
}
@media(max-width: 30em){
	footer{
		opacity: 0;
	}
	table{
		width: 100%;
	}
	table tr{
		display: flex;
		flex-direction: column;
		border: 1px solid #000;
		padding: 1em;
		margin-bottom: 1em;
	}
	table thead{
		display: none;
	}
	table td[data-titulo]{
		display: flex;
	}
	table td[data-titulo]::before{
		content: attr( data-titulo );
		width: 90px;
	}
}